html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
}

.main_view {
    height: 100%;
    width: 100%;
}

.header_bar {
    height: 50px;
    background: #247ad6;

    >ul {
        float: right;
        line-height: 50px;
        background: #247ad6;
        height: 100%;

        .ivu-menu-item {
            //background-color: red;
            height: 100%;
        }

        .ivu-menu-item-active {
            height: 100%;
            background: #162954;
            border-bottom: 3px solid rgba(#fff, 0.5);
        }

    }
}

.app_main {
    background-color: white;
    height: calc(100% - 50px);
}